---
changefreq: monthly
ignore: true
---

<!DOCTYPE html>
<html lang="en">

<head>
  <title>dev@felix-gehring.de</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Felix Gehring's home page" />
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <!-- CSS Reset -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <!-- Milligram CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

  <link async rel="stylesheet" href="/css/style.css" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png" />
</head>

<body>
  <nav class="nav">
    <div class="content title">
      <a class="no_decoration" href="/" style="float: left">dev@felix-gehring.de</a>
      <a href="/articles">articles</a>
    </div>
  </nav>
  <div class="wrapper">
    <div class="content">
      <div class="header"></div>
    </div>
    <div class="content">
      <img class="aboutme_img" style="display: inline-flex;" src="/imgs/felix_gehring_1_small.jpg" alt="portait" />
      <div class="content">
        <h4>Hi, I'm Felix</h4>
        <p>
          I am a software developer from Ochtrup, Germany. If you would
          like to get in touch with me, please contact me on my email address:
          <a style="white-space: nowrap;" href="mailto:dev@felix-gehring.de">dev@felix-gehring.de</a>. Check out what
          I've done so far:
        </p>
      </div>
    </div>
    <div class="content">
      <table>
        <tbody>
          <tr>
            <td>since 07/2020</td>
            <td><a href="https://aleno.me/" target="_blank" rel="noopener">aleno AG</a>, Zürich</td>
            <td>
              <b>NodeJS/Typescript</b> back-end development, in a cloud-native environment
              in <b>AWS</b>, using <b>Lambda</b>, <b>SQS</b>, <b>Cognito</b>, <b>CloudWatch</b> etc.
            </td>
          </tr>
          <tr>
            <td>01/2020 - 06/2020</td>
            <td>Regional craft business software company, Rheine</td>
            <td>
              <b>ASP/C#</b> back-end development. <b>RESTful</b> and
              <b>GraphQL</b> API design. <b>Angular</b> front-end development.
            </td>
          </tr>
          <tr>
            <td>12/2018 - 12/2019</td>
            <td>Energy Company, Essen</td>
            <td>
              <b>Spring Boot</b> back-end development. <b>JSON:API</b> and
              <b>GraphQL</b> API design
            </td>
          </tr>
          <tr>
            <td>06/2016 - 07/2018</td>
            <td>German Railway Company, Frankfurt am Main</td>
            <td>
              <b>Java EE (e.g. EJB/JPA)</b> back-end development.
              <b>Java Swing</b> front-end development. <b>Oracle database</b>
              administration.
            </td>
          </tr>
          <tr>
            <td>05/2015 - 12/2015</td>
            <td>German Railway Company, Frankfurt am Main</td>
            <td>
              <b>Java</b> front-end development with <b>Eclipse RCP e4</b>.
            </td>
          </tr>
          <tr>
            <td>09/2014 - 01/2015</td>
            <td>
              Hotel Reservation Services Company, Frankfurt am Main
            </td>
            <td>
              <b>Java EE (EJB, Hibernate)</b> back-end development with
              <b>JSP, Struts and Tiles</b> front-end. <b>MySQL database</b>
              administration.
            </td>
          </tr>
          <tr>
            <td>09/2013 - 06/2014</td>
            <td>
              International life insurance company, Stuttgart
            </td>
            <td>
              <b>Java</b> front-end development with <b>Eclipse RCP 3.7</b>.
              <b>SOAP</b> web service development.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>